---
layout: default
title: Le simulateur
description: Vous pouvez explorer vous-même les scénarios des questions 1 à 3 grâce à ce simulateur
---

<style>
	html, body, iframe { height: 100%; }
	iframe {
		width: 100%;
	    border: none;
	}
	header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading {
    	padding: 100px 0;
	}
</style>

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ '/img/bg-simulator.jpg' | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>


<iframe src='{{ "simulations/CoVprehension.html" | relative_url }}'></iframe>
