<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | prepend: site.baseurl | replace: '//', '/' }}">
      <img src="/img/logo/logo-long.png" alt="covprehension logo" style="max-height: 25px; width: auto" />
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href={{ "/simulator" | prepend: site.baseurl | replace: '//', '/'}}>{% translate navbar.simulator %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% translate global.question_form_link %}" target="_blank">{% translate navbar.questions %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/resources" | prepend: site.baseurl | replace: '//', '/' }}">{% translate navbar.ressources %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}">{% translate navbar.about %}</a>
        </li>

        <li class="nav-item dropdown show">
          <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% translate navbar.flag %}
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% if site.lang == "fr" %}
              {% capture link1 %}/en{{ page.url}}{% endcapture %}
              <a class="dropdown-item" href="{{ link1 | prepend: site.baseurl | replace: '//', '/' }}" >🇬🇧</a>
            {% elsif site.lang == "en" %}
              {% capture link2 %}{{ page.url }}{% endcapture %}
              <a class="dropdown-item" href="{{ link2 | prepend: site.baseurl_root | replace: '//', '/' }}" >{{ site.translations["fr"]["navbar"]["flag"] }}</a>
            {% endif %}
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>