<!-- TEMPLATE -->
<script src="{{"assets/vendor/jquery/jquery.min.js" | prepend: site.baseurl_root }}"></script>
<script src="{{"assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | prepend: site.baseurl_root }}"></script>
<script src="{{"assets/vendor/template/js/clean-blog.min.js" | prepend: site.baseurl_root }}"></script>

<!-- PLUGIN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


{% if site.lang == "fr" %}
	<script  src="{{"assets/lang/simu-fr.js" | prepend: site.baseurl_root }}"></script>
{% else %}
	<script  src="{{"assets/lang/simu-en.js" | prepend: site.baseurl_root }}"></script>
{% endif %}
<script src="{{"assets/particles.js" | prepend: site.baseurl_root }}"></script>

{% assign t = page.title | split: " " %}
{% assign simuPath = '/simulations/js/' | append: t[1]  | remove: ":" | append: "/" %}
{% assign questions = site.static_files | where_exp:"item", "item.path contains simuPath" %}

{% if questions.size > 0 %}
  <!-- JS Simulations -->

  {% for item in questions %}
    <script src="{{ item.path }}"></script>
  {% endfor %}

{% endif%}

<!-- CUSTOM -->
<script src="{{"assets/scripts.js" | prepend: site.baseurl_root }}"></script>
