---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

p {
  text-align: justify;
}
.container{
	max-width: 90vw;
}
.btn-primary {
    width: 100%;
}
.clearfix .btn-primary {
    width: auto;
}
.fa-plus-circle {
	float: right;
	font-size: 36px;
}
.align-container {
	display: flex; 
	align-items: center;
}