---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

/*
    +============
    | GENERAL
 */

p {
  text-align: justify;
}
.container{
  max-width: 90vw;
}
.btn-primary {
    width: 100%;
}

/*
  NAVBAR
 */
nav .dropdown-menu {
  min-width: 0;
  width: 100%;
}

/*
    +============
    | HEADER
 */

.subheading a {
  color: white !important;
}.clearfix .btn-primary {
    width: auto;
}

/*
    +============
    | FOOTER
 */
footer img {
  width: auto
}

/*
    +============
    | HOME
 */

.fa-plus-circle {
	float: right;
	font-size: 36px;
}
.align-container {
	display: flex; 
	align-items: center;
}

/*
    +============
    | IMAGES RULES
 */
img,
img.full-size {
  width: 100%
}
img.half-size {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
@media only screen and (max-width: 1200px) {
  img.half-size {
    width: 75%;
  }
}
@media only screen and (max-width: 768px) {
  img.half-size {
    width: 100%;
  } 
}