---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead"  style="background-image: url('{{ 'img/bg-index.jpg' | prepend: site.baseurl_root | replace: '//', '/' }}')">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2 class="subheading">{{ page.subtitle }}</h2>
          {% endif %}
          <span class="meta">{% if page.author_text %}{% t post.text %} : <i>{{ page.author_text }}</i>{% endif %}{% if page.author_simulations %} / {% t post.simulation %} : <i>{{ page.author_simulations }}</i>{% endif %}{% if page.author_illustration %} / {% t post.illustrator %} : <i>{{ page.author_illustration }}</i>{% endif %} {% if page.author_translation %} / {% t post.translator %} : <i>{{ page.author_translation }}</i>{% endif %}<br/>
            {% t post.the %} {% include date.html post=page %} &middot; {% include read_time.html content=page.content %}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">

  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {{ content }}

      <hr>

      <div class="clearfix">

        <input class="btn btn-primary float-left" action="action" onclick="window.history.go(-1); return false;" type="button" value='&larr; {% t posts.back %}'</>

      </div>

    </div>
  </div>
</div>
