---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl_root | replace: '//', '/' }}')">
{% else %}
  <header class="masthead"  style="background-image: url('{{ 'img/bg-index.jpg' | prepend: site.baseurl_root | replace: '//', '/' }}')">
{% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{% translate global.sub-title %}<br/>{% translate global.sub-title2 %}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      {% assign postsPublished=site.posts | where:"hidden", false | where:"publish", true | reverse %}
      {% assign postsUnpublished=site.posts | where:"hidden", false | where:"publish", false | reverse %}

      <aside class="col d-none d-md-block mx-auto">
        <style>aside div ul { max-height: 75vh; overflow: auto}</style>
        <div>
          <h3>{% translate home.question_done %}</h3>
          <ul>
            {% for post in postsPublished  %}

              {% assign title = post.title | split: ":" %}
              <li><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">Q{{title[0] | split: " " | last }} : {{ title[1] }}</a></li>
        
            {% endfor %}
          </ul>
        </div>
        {% if postsUnpublished.size > 0 %}
          <hr>
          <div>
            <h3>{% translate home.question_wip %}</h3>
            <ul>
              {% for post in postsUnpublished  %}

                {% assign title = post.title | split: ":" %}
                <li><p style="text-align: initial; margin: 0;">Q{{title[0] | split: " " | last }} : {{ title[1] }}</p></li>
          
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </aside>

      <div class="col-md-9 mx-auto">

        {{ content }}

        <!-- Question 0-->
        {% for post in postsPublished limit: 1 %}
        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            <div class="align-container">
              {% if post.subtitle %}
                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
              {% else %}
                <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
              {% endif %}
              <i class="fas fa-plus-circle" aria-hidden="true"></i>
            </div>
          </a>
          <p class="post-meta">{% translate post.posted %} {% translate post.the %} {% include date.html post=post %} &middot; {% include read_time.html content=post.content %}
          </p>
        </article>

        <hr style="border: #333 2px solid;">

        {% endfor %}

        <!-- Home Post List -->
        {% assign frontPagination=site.paginate - 1 %}
        {% assign postsPublished=site.posts | where:"hidden", false | where:"publish", true %}
  
        {% for post in postsPublished limit: frontPagination %}
        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            <div class="align-container">
              {% if post.subtitle %}
                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
              {% else %}
                <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
              {% endif %}
              <i class="fas fa-plus-circle" aria-hidden="true"></i>
            </div>
          </a>
          <p class="post-meta">{% translate post.posted %} {% translate post.the %} {% include date.html post=post %} &middot; {% include read_time.html content=post.content %}
          </p>
        </article>

        <hr>
        {% endfor %}


        {% if postsPublished.size > 5 %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | prepend: site.baseurl | replace: '//', '/' }}">{% translate home.see_newest %} &rarr;</a>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
