---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      {% assign postsPublished=site.posts | where:"hidden", false | where:"publish", true | reverse %}
      {% assign postsUnpublished=site.posts | where:"hidden", false | where:"publish", false | reverse %}

      <aside class="col d-none d-md-block mx-auto">
        <h3>Questions traitées</h3>
        <ul>
          {% for post in postsPublished  %}

            {% assign title = post.title | split: ":" %}
            <li><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">Q{{title[0] | split: " " | last }} : {{ title[1] }}</a></li>
      
          {% endfor %}
        </ul>
        {% if postsUnpublished.size > 0 %}
          <h3>Questions en traitement</h3>
          <ul>
            {% for post in postsUnpublished  %}

              {% assign title = post.title | split: ":" %}
              <li><p style="text-align: initial; margin: 0;">Q{{title[0] | split: " " | last }} : {{ title[1] }}</p></li>
        
            {% endfor %}
          </ul>
        {% endif %}
      </aside>

      <div class="col-md-9 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in postsPublished limit: site.paginate %}
        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            <div class="align-container">
              {% if post.subtitle %}
                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
              {% else %}
                <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
              {% endif %}
              <i class="fas fa-plus-circle" aria-hidden="true"></i>
            </div>
          </a>
          <p class="post-meta">Posté {% if post.author %}par {{ post.author }}{% endif %}
            {% comment %} --======  FRENCH DATE FORMATING  ======-- {% endcomment %}
            le {{ post.date | date: "%-d" }} {% assign m = post.date | date: "%-m" | minus: 1 %}{{ site.data.fr.months[m] }} {{ post.date | date: "%Y" }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>
        {% endfor %}


        {% if postsPublished.size > 5 %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">Voir les dernières Questions &rarr;</a>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
