---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead"  style="background-image: url('{{ '/img/bg-index.jpg' | prepend: site.baseurl | replace: '//', '/' }}')">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2 class="subheading">{{ page.subtitle }}</h2>
          {% endif %}
          <span class="meta">{% if page.author_text %}Texte : <i>{{ page.author_text }}</i>{% endif %}{% if page.author_simulations %} / Simulation : <i>{{ page.author_simulations }}</i>{% endif %}{% if page.author_illustration %} / Illustration : <i>{{ page.author_illustration }}</i>{% endif %}<br/>
            {% comment %} --======  FRENCH DATE FORMATING  ======-- {% endcomment %}
            le {% if page.postDate %}{{ page.postDate | date: "%-d" }} {% assign m = page.postDate | date: "%-m" | minus: 1 %}{{ site.data.fr.months[m] }} {{ page.postDate | date: "%Y" }}
            {% else %}{{ page.date | date: "%-d" }} {% assign m = page.date | date: "%-m" | minus: 1 %}{{ site.data.fr.months[m] }} {{ page.date | date: "%Y" }}{% endif %} &middot; {% include read_time.html
            content=page.content %}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">

  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {{ content }}

      <hr>

      <div class="clearfix">

        {% assign posts=site.posts | where:"hidden", false | where: "publish", true %}
        
        {% for post in posts %}
          {% if post.url == page.url %}
            {% assign post_index0 = forloop.index0 %}
            {% assign post_index1 = forloop.index %}
          {% endif %}
        {% endfor %}

        {% for post in posts %}
          {% if post_index0 == forloop.index %}
            {% assign next_post = post %}
          {% endif %}
          {% if post_index1 == forloop.index0 %}
            {% assign prev_post = post %}
          {% endif %}
        {% endfor %}

        {% if prev_post %}
        <a class="btn btn-primary float-left" href="{{ prev_post.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ prev_post.title }}">&larr; Question<span class="d-none d-md-inline">
            Précédente</span></a>
        {% endif %}

        {% if next_post %}
        <a class="btn btn-primary float-right" href="{{ next_post.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ next_post.title }}">Question<span class="d-none d-md-inline">
            Suivante</span> &rarr;</a>
        {% endif %}

      </div>

    </div>
  </div>
</div>
